

/* variables and properties */
:root {
  --header-size: 60px;
  --border-radius: 15px;

  --text-header: 'serif';
  --text-normal: 'Newsreader', serif;
  --line-height: 27px;
}



/* Global properties */

* {
   /* scrolling whennavigating the page */
  scroll-behavior: smooth;  
}

 
main section:nth-child(even) {background-color:powderblue}
main section:nth-child(odd) {background-color: rgb(188, 219, 240);}

h2 {
  text-align: center;
  font-size: var(--header-size);
  font-family: var(--text-header);
  text-decoration: underline;
  margin-bottom: 40px;
}


/* header */

header {
  display: flex;
  background-color:rgb(216, 150, 162);
  height: 95px;
}

h1 {
  font-size: 65px;
  font-family: var(--text-header);
  color: var(--font-pink);
  margin: 10px;
  width: 55%;
  text-align: center;
  margin: auto;
}

nav {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  font-size: 50px;
  font-family: var(--text-header);
  text-decoration: none;
  color: var(--font-pink);
}

nav a:hover {
  font-size: 56px;
  color:white;
}



/* section */

.portfoliosection {
  display: flex;
  justify-content: center;
  height: 500px;
  padding: 10px;
  padding-top: 20px;
}

section div:nth-child(1) {width: 35%;}
section div:nth-child(2) {width: 60%;}



/*  about Me */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--text-normal);
  color: var(--font-cream);
}

.about-me h2 {
  color: var(--background-black);
  margin-bottom: 40px;
}

.about-me img {
  height: 400px;
  width: 400px;
  margin: auto;
  border-radius: var(--border-radius);
  filter: drop-shadow(10px 10px 10px black);
}

.about-me p {
  text-align: center;
  font-size: 22px;
  line-height: var(--line-height);
  margin-bottom: 20px;
}





/*my Work Portfolio */

#work-portfolio {
  height: 2200px;
  display: inline-block;
  width: 100%
}

#work-portfolio h2 {
  text-align: center;
  font-size: var(--header-size);
  color: var(--font-pink);
}

#work-cards {
  width: 100%;
}

.card {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--font-cream);
  margin: 10px;
}

.card img {
  width: 600px;
  height: 100%;
  padding: 5px;
  border-radius: var(--border-radius);
  opacity: .95;
}

.card img:hover {
  opacity: .5;
}

.card p {
  width: 45%;
  text-align: center;
  line-height: var(--line-height);
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text h3 {
  padding-bottom: 18px;
  color: var(--font-pink);
  font-family: var(--text-header);
  font-size: 45px;
}

.card-text p {
  width: 80%;
  font-family: var(--text-normal);
  font-size: 19px;
}

.card-text a {
  text-decoration: none;
  color: var(--font-pink);
}



/* Contact info */

#contact {
  height: 400px;
  display: flex;
  align-items: center;
}

#contact-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}

#contact-info a:hover {
  background-color: var(--font-cream);
  border-radius: 50px;
}



/* footer */

footer {
  background-color: var(--background-black);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-cream);
  font-family: var(--text-header);
  font-size: 22px;
}

footer p:after {
  content: ' Shaima Jobran';
  color: var(--font-pink);
}

@media screen and (max-width: 1245px) {


  section div:nth-child(1) {width: 40%;}
  section div:nth-child(2) {width: 60%;}

  .about-me p {
      font-family: var(--text-normal);
      font-size: 18px;
  }
}

@media screen and (max-width: 1182px) {
    
  /* header*/

  nav a {
      font-size: 40px;
  }

  nav a:hover {
      font-size: 45px;
  }

  /* About Me */

  .about-me img {
      height: 350px;
      width: 350px;
  }
  


  .card-text p {
      font-size: 16px;
  }
}

@media screen and (max-width: 1056px) {

  /* <main*/

  section div:nth-child(1) {width: 45%;}
  section div:nth-child(2) {width: 60%;}

  /* <section> - About Me */

  .about-me p {
      font-family: var(--text-normal);
      font-size: 16px;
  }

  /* my Work Portfolio */
  #work-portfolio {
      height: 1950px;
  }

  .card {
      height: 350px;
  }

  .card img {
      width: 500px;
  }

  .card-text p {
      font-size: 14px;
  }
}


@media screen and (max-width: 920px) {

  /* header */

  header {
      display: flex;
      flex-direction: column;
      height: 150px;
  }

  nav {
      width: 100%;
      padding-bottom: 10px;
  }

  /* <section> */

  .portfolio-section {
      display: flex;
      flex-direction: column;
      height: 300px;
  }

  section div:nth-child(1) {width: 100%;}
  section div:nth-child(2) {width: 100%;}

  /* <section> - About Me */

  .about-me img {
      display: none;
  }

  /* <section> - Work Portfolio */

  #work-portfolio {
      height: 2700px;
  }

  .card {
      height: 500px;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
  }

  /* This flexes EcoValuator and IsItDry? cards to have reverse order
  so that their image comes before their text */
  .column-reverse {
      flex-direction: column-reverse;
  }

  .card img {
      width: 400px;
      height: 300px;
  }

  .card-text {
      width: 50%;
      padding-top: 5px;
  }

  .card-text p {
      width: 95%
  }


  /* <section> - Contact */

  #contact {
      height: 200px;
  }
}

@media screen and (max-width: 695px) {

  /* <section> - Work Portfolio */

  #work-portfolio {
      height: 2950px;
  }

  .card {
      height: 550px;
  }
}

@media screen and (max-width: 593px) {

  /* <header> */

  header {
      height: 175px;
  }

  header h1 {
      font-size: 45px;
  }

  /* <section> - About Me */

  #about-me-section {
      height: 500px;
  }

  /* <section> - Work Portfolio */

  #work-portfolio {
      height: 3050px;
  }

  .card {
      height: 570px;
  }
}

@media screen and (max-width: 493px) {

  /* <section> - Work Portfolio */

  #work-portfolio {
      height: 3200px;
  }

  .card {
      height: 600px;
  }

  .card img {
      width: 350px;
      height: 275px;
  }
  #about-me-section {
    height: 550px;
}

}










