

*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; 
  
}

html,body {
  height: 100%;
  background-color: rgb(112, 129, 124);
  

}
 

main section:nth-child(odd) {background-color:lavenderblush}
main section:nth-child(even) {background-color:lavender}

.header {
  padding: 20px;
  background-color: #a5859c;
}


.header h1 {
  display: inline-block;
  font-size: 48px;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.header nav {
  margin-right: 20px;
  float: right;
  
}
nav a {
  font-size: 30px; 
  text-decoration: none;
 
}

nav a:hover {
  font-size: 33px;
  text-decoration: underline;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: #ffffff;
}



p {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif ;
  flex-grow: 2;
  line-height: 2;
  margin: 23px;


}




section {
 background-color:#ddebf0;
 padding:20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 50px;
}

img {

  width: 20%;
  
}

section a {
  width: 20%;
}
a img{
  width: 100%;

}

.box{
  width: 100%;
  margin:1rem;
  display: flex;
  align-items: flex-start;
}
 


.AboutMe{
  transform: scale(1.5,);
  display:flex;
  align-items:center;
}



.portfolio-section {
  display:flex;
  font-size:  20px;
  align-items:flex-start;

  
}

#work-cards {
  width: 100%;
}

.card {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.card img {
  width: 400px;
  height: 100%;
  padding:1mm;
  opacity: .80;
}

.card img:hover {
  opacity: .5;
}

.card a {
  width: 50%;
  text-align: center;
  line-height: var(--line-height);
  text-decoration:underline;
}



.card-text h3 {
  padding-bottom: 18px;
  color: var(--font-pink);
  font-family: var(--text-header);
  font-size: 45px;
  text-decoration:underline;
}


/*contact */

#contact {
  height: 200px;
  display: flex;
  align-items: center;
}

#contact-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#contact-info a:hover {
  background-color: var(--font-cream);
  border-radius: 50px;
}
/* footer */
footer {
  background-color: var(--background-black);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-cream);
  font-family: var(--text-header);
  font-size: 22px;
}

footer p:after {
  content: '2021';
  color: var(--font-pink);
}


@media screen and (max-width: 950px) { 
  .header nav{
    float: none;
  }
  .card img{
    width: 90%;
    
  }
  .card {
    /* display: block; */
    flex-direction: column;
  }
.last{
  order: 10;
}
.AboutMe{
  flex-direction: column;
}
.box{
  flex-direction: column;
}
.box img{
  width: 80%;
  display: block;
  margin: auto;
}
}